<h1>Stupid Coaching</h1>

<p class="text-bg-warning p-3"><%= @question %></p>
<p>- You</p>

<p class="text-bg-danger p-3"><%= @answer %></p>
<p>- Your coach</p>

<%= link_to "Ask a new question", ask_path %>